.navbar-nav {
  margin-left: auto;
  margin-right: 5%;
}
.navbar-nav .nav-link {
  margin-right: 10px;
}
.brand-logo {
  font-weight: bold; 
  font-size: 24px;
  color: greenyellow;
  margin-left: 50px;
}
.brand-logo:hover {
  font-weight: bold; 
  font-size: 24px;
  color: greenyellow;
  margin-left: 50px;
}
.navbar-toggler {
  margin-right: 30px;
}